body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh);
  background: rgb(196, 240, 232);
  background: radial-gradient(
    circle,
    rgba(196, 240, 232, 1) 0%,
    rgba(220, 240, 242, 1) 34%,
    rgba(104, 212, 235, 1) 100%
  );
}
