body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh);
  background: rgb(196, 240, 232);
  background: radial-gradient(
    circle,
    rgba(196, 240, 232, 1) 0%,
    rgba(220, 240, 242, 1) 34%,
    #68d4eb 100%
  );
}


/* Отключить стили автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}
